* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    font-size: 28px;
    font-weight: 800;
    margin: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin-top: 2px;
}

.right {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.links {
    display: flex;
    list-style: none;
    gap: 40px;
    font-weight: 600;
    margin-right: 50px;
}

.slider {
    width: 100vw;
    background-color: rgb(27, 46, 27);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 100%;
    display: none;
}

.slider li {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.links li:hover{
    color: aliceblue;
}

.slider.active{
    justify-content: center;
    display: inline-block;
    right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

}

.downli {
    margin-bottom: 20px;
}

button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.p {
    width: 100vw;
}



.dropdown-content a{
    text-decoration: none;
    margin-top: 14px;
}



.dropdown-content {
    position: absolute;
    display: none; /* Keep this initially hidden */
    flex-direction: column;
    /* right: 10px; */
    background-color: rgb(197, 207, 215);
    padding: 6px 10px;
    gap: 5px;
}



.dowpdown:hover .dropdown-content {
    display: flex; /* Show the dropdown on hover */
    box-shadow: 0px 0px 10px black;
}


.dropdown-content1 {
    display: none; /* Keep this initially hidden */
    background-color: rgb(6, 34, 6);
    flex-direction: column;
    padding: 6px 10px;
    gap: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

.downli:hover .dropdown-content1{
    display: flex;
    color: white;
    box-shadow: 0px 0px 10px black;
}

.dropdown-content1 a{
    color: white;
}

.downli button{
    color: white;
}



@media screen and (min-width:500px){
    .slider.active{
        background-color: blue;
        display: none;
    }
}




@media screen and (max-width:500px){
    .navbar{
        height: 15vh;
    }
    .hamburger{
        display: block;
    }
    .links{
        display: none;
    }

    
    .logo{
        display: none;
    }

    
}
