*{
    max-width: 1520vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    max-width: 100vw;
}
.mybtn{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.myallList{
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.mybtn button{
    padding: 6px 10px;
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 20px;
}