.container{
    width: 100vws;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.up{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    margin-bottom: 20px;
    
}

.up input{
    margin-right: 10px;
    padding: 6px 10px;
    border-radius: 9px;
    border: none;
}

.up h2{
    margin-left: 10px;
}


.item{
    display: flex;
    gap: 30px;
}

.item button {
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(128, 205, 253);
    font-weight: 600;
}
